/* .message-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
}
.paymentCode{
    width: 300px;
    height: 300px;
}
.message-box-main{
    padding: 20px;
    margin: 200px auto 0 auto;
    text-align: center;
    width: 500px;
    height: 510px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}
.img-box{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.btn-group{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.cancel{
    background: #fff;
    border: 1px solid #dcdfe6;
    margin-right: 10px;
}
.confirm{
    background-color: #409eff;
    border-color: #409eff;
    color: #fff;
}
.btn{
    font-size: 12px;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
}
.tips{
    margin-top: 10px;
    color: #666;
    text-align: left;
    font-size: 14px;
} */

@media only screen and (max-width: 768px) {
    .message-box{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: rgba(0, 0, 0, .5);
    }
    .paymentCode{
        width: 150px;
        height: 150px;
    }
    .message-box-main{
        padding: 20px;
        margin: 50% auto 0 auto;
        text-align: center;
        width: 330px;
        height: 280px;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    }
    .img-box{
        display: flex;
        margin-top: 40px;
        justify-content: center;
    }
    .btn-group{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .cancel{
        background: #fff;
        border: 1px solid #dcdfe6;
        margin-right: 10px;
    }
    .confirm{
        background-color: #409eff;
        border-color: #409eff;
        color: #fff;
    }
    .btn{
        font-size: 12px;
        border-radius: 3px;
        padding: 5px 15px;
        cursor: pointer;
    }
    .tips{
        margin-top: 10px;
        color: #666;
        text-align: left;
        font-size: 14px;
    }
}

/* 平板端样式，介于手机和PC之间 */
@media only screen and (min-width: 769px) and (max-width: 1920px) {
    .message-box{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: rgba(0, 0, 0, .5);
    }
    .paymentCode{
        width: 300px;
        height: 300px;
    }
    .message-box-main{
        padding: 20px;
        margin: 200px auto 0 auto;
        text-align: center;
        width: 500px;
        height: 410px;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    }
    .img-box{
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }
    .btn-group{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .cancel{
        background: #fff;
        border: 1px solid #dcdfe6;
        margin-right: 10px;
    }
    .confirm{
        background-color: #409eff;
        border-color: #409eff;
        color: #fff;
    }
    .btn{
        font-size: 12px;
        border-radius: 3px;
        padding: 5px 15px;
        cursor: pointer;
    }
    .tips{
        margin-top: 10px;
        color: #666;
        text-align: left;
        font-size: 14px;
    }
}